* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #c9c9c9, #282828);
  padding: 1.5rem;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

.head {
  text-align: center;
  margin-bottom: 1rem;
}

hr {
  width: 100%;
  border: none;
  height: 0.2rem;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}

.button {
  text-align: center;
  margin-top: 2rem;
}

.btn {
  background-color: black;
  color: white;
  padding: 0.8rem 1rem;
  border-radius: 3rem;
  transition: all 0.5s;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: black;
}

.button-container {
  text-align: center;
  padding-top: 2rem;
}

.home-button {
  display: inline-block;
  padding: 0.8rem 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.5s;
  color: black;
  background-color: white;
}

.home-button:hover {
  color: white;
  background-color: black;
}

.result {
  padding-top: 2rem;
  font-size: 2rem;
  text-align: center;
}

.subjects-container {
  display: grid;
  grid-template-columns: 1fr;
}

.subject-container {
  background-image: url("../images/texture.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-in-out, z-index 0s;
}

.subject-container:hover {
  transform: scale(1.01);
  z-index: 1;
}

.subject-container p {
  margin: 8px 0;
  font-size: 1rem;
}

.subject-container strong {
  font-weight: bold;
}

.subject-container ul {
  padding-left: 1.5rem;
}

@media (min-width: 768px) {
  .subjects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .subject-container {
    background-repeat: repeat-y;
    background-size: cover;
  }
}

/* Adjust for odd number of subjects */
@media (min-width: 768px) {
  .subjects-container {
    grid-auto-rows: auto;
  }
  .subject-container:last-child {
    grid-column-end: span 2;
  }
}