* {
  margin: 0 auto;
  padding: 0;
}

/*Nav bar*/
nav {
  background-color: transparent;
  width: 100%;
  padding: 1rem;
  position: fixed;
  font-weight: 500;
  font-size: 1.2rem;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: all 0.1s;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

nav a {
  color: black;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 0.5rem 1rem 0.5rem 0;
  display: inline;
}

nav ul:last-child {
  padding-right: 1rem;
}

nav:hover {
  background-color: black;
}

nav:hover a {
  color: white;
}

/*Body and title*/
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(45deg, #a18cd1, #fbc2eb);
  min-height: 100vh;
}

.title {
  display: block;
  padding: 4rem 2rem 1rem 2rem;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagetitle {
  font-size: 3rem;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  padding: 2rem;
  padding-bottom: 1rem;
  color: black;
}

/*Content*/
.selection {
  display: grid;
}

.scheme {
  padding-bottom: 1rem;
}

.semester {
  padding-bottom: 1rem;
}

h2 {
  text-align: center;
}

.result {
  padding: 0 2rem 2rem 2rem;
}

/*Table*/
table {
  width: 90%;
  border-collapse: collapse;
}

th,
td {
  padding: 1rem;
  text-align: left;
}

th {
  text-align: center;
}

td {
  border: 1px solid black;
  border-radius: 1.5rem;
}

td:has(input) {
  padding: 0;
  text-align: center;
}

td input {
  width: 90%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid black;
}

/*Inputs*/
button,
select,
input {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

button {
  width: 5.5rem;
  height: 2.5rem;
  border: 1px solid black;
  outline: none;
  background: white;
  color: black;
  font-size: 1rem;
  border-radius: 3rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  color: white;
  background: black;
}

select {
  padding: 0.2rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  transition: all 0.5s;
}

select:hover {
  background-color: wheat;
}

input {
  border: 1px solid black;
  border-style: solid;
  width: 100%;
  height: 100%;
}

.my-btn {
  text-align: center;
  padding: 2rem;
}

.my-btn button {
  width: 6rem;
}

@media (max-width: 767px) {
  /* Nav bar */
  nav li {
    padding: 0.25rem 0.5rem;
  }

  /* Body and title */
  .title {
    padding: 3.5rem 2rem 1rem 2rem;
  }

  .pagetitle {
    font-size: 2rem;
    padding: 1rem;
  }

  /* Content */
  .selection {
    grid-template-columns: 1fr;
    padding: 0 0.5rem;
  }

  .scheme,
  .semester {
    padding-bottom: 0.5rem;
  }

  /* Table */
  table {
    font-size: 0.9rem;
  }

  th,
  td {
    padding: 0.5rem;
  }

  .credits {
    text-align: center;
  }

  td input {
    width: 65%;
    margin: 0.5rem;
  }

  /* Inputs */
  .my-btn {
    padding: 1rem 0.5rem;
  }
}
