* {
  margin: 0 auto;
  padding: 0;
}

/*Body and footers*/
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(45deg, #FDFCFB, #E2D1C3);
}

footer {
  padding: 4rem;
  padding-top: 2rem;
}

/*Title*/
.title {
  display: block;
  padding-bottom: 2rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagetitle {
  font-size: 3rem;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  padding: 2rem;
  padding-bottom: 1rem;
  background-image: linear-gradient(45deg, #FF512F, #DD2476);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.pagesubtitle {
  font-size: 1.5rem;
  text-align: center;
}

/*Content*/
.content {
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
}

.selection {
  padding: 3rem;
  padding-top: 2rem;
  display: grid;
}

.dept {
  padding-bottom: 1rem;
}

.scheme {
  padding-bottom: 1rem;
}

.semester {
  padding-bottom: 1rem;
}

.headings {
  font-size: 1.5rem;
}

.info {
  font-size: 0.9rem;
}

.info ul {
  list-style-position: inside;
}

.info li {
  padding-left: 1rem;
}

/*Inputs*/
button,
select {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

button {
  width: 5.5rem;
  height: 2.5rem;
  border: 1px solid black;
  outline: none;
  background: #b5b5b5;
  color: black;
  font-size: 1rem;
  border-radius: 3rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

button:hover {
  color: white;
  background: black;
}

select {
  padding: 0.2rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #b5b5b5;
  color: black;
}

/*Mode*/
@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }

  .pagetitle {
    background-image: linear-gradient(45deg, #FFECD2, #FCB69F);
  }

  button {
    border: 1px solid white;
    background: #2f2f2f;
    color: white;
  }

  button:hover {
    color: black;
    background: white;
  }

  select {
    border: 1px solid white;
    background-color: #2f2f2f;
    color: white;
  }
}
