* {
  margin: 0 auto;
  padding: 0;
}

/*Body and footers*/
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(45deg, #fdfcfb, #e2d1c3);
}

footer {
  padding: 4rem;
  padding-top: 1rem;
}

hr {
  width: 100%;
  border: none;
  height: 0.2rem;
  margin: 1rem 0rem 1rem 0rem;
}

/*Title*/
.title {
  display: block;
  padding-bottom: 2rem;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex h3 {
  margin-top: 2rem;
}

.blue {
  color: rgba(30,8,91,255);
  text-shadow: 0px 0px 25px white;
}

.pagetitle {
  font-size: 3rem;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  padding: 2rem;
  padding-bottom: 1rem;
  background-image: linear-gradient(45deg, #ff512f, #dd2476);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.pagesubtitle {
  font-size: 1.5rem;
  text-align: center;
}

/*Content*/
.content {
  font-size: 1.2rem;
  text-align: center;
}

.selection {
  padding: 2rem 3rem 0.5rem 3rem;
  display: grid;
}

.scheme {
  padding-bottom: 1rem;
}

.semester {
  padding-bottom: 1rem;
}

.headings {
  font-size: 1.5rem;
}

.info {
  font-size: 0.9rem;
}

.info ul {
  list-style-position: inside;
}

.info li {
  padding-left: 1rem;
}

/*Footer*/
.right {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 1)
  );
}

.left {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 1)
  );
}

/*Inputs*/
button,
select {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

button {
  width: 5.5rem;
  height: 2.5rem;
  border: 1px solid black;
  outline: none;
  background: #b5b5b5;
  color: black;
  font-size: 1rem;
  border-radius: 3rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  color: white;
  background: black;
}

select {
  padding: 0.2rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #b5b5b5;
  color: black;
  transition: all 0.5s;
}

select:hover {
  background-color: #4a4a4a;
  color: white;
}